@import "./variables.scss";
@import "./responsive.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    width: 100%;
    font-size: "Inter", sans-serif;
    background-color: $main-bg;
    color: $main-color;
}

.container {
    display: flex;


}

.menuContainer {
    margin-right: 8px;
    width: 250px;
    padding: -5px 20px;
    border-right: 2px solid $soft-bg;

    @include lg {
        width: max-content;
    }
}

.contentContainer {
    width: 100%;
    padding: -5px 20px;
}